<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My todos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <style>
        table {
    table-layout: fixed;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/user}" th:text="${user.username}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">New todo<span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/admin/users}">Users</a>
            </li>
        </ul>
        <a class="btn btn-danger" th:href="@{/logout}" role="button">Log out</a>
    </div>
</nav>

<table class="table table-bordered table-hover">
    <thead>
    <tr align="center">
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${user.todos}">
        <td th:text="${todo.name}"></td>
        <td th:text="${#dates.format(todo.dateStart, 'dd.MM.yyyy')}"></td>
        <td th:text="${#dates.format(todo.dateEnd, 'dd.MM.yyyy')}"></td>
        <td th:text="${todo.description}"></td>
        <td>
            <span>
                <a class="btn btn-primary btn-sm" th:href="@{/todo/{todoId}(todoId=${todo.id})}" role="button">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="@{/todo/delete/{todoId}(todoId=${todo.id})}" role="button">Delete</a>
            </span>
        </td>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Новое дело</h4>
            </div>
            <div class="modal-body" id="md-add">
                <form th:action="@{todo/create}" th:object="${newTodo}" method="post">
                    <div class="form-group">
                        <label for="todoName">Наименование</label>
                        <input id="todoName" type="text" class="form-control" th:field="*{name}" required>
                    </div>
                    <div class="form-row">
                        <div id="start-date-div" class="start-date-div form-group col-md-6">
                            <label for="dateStart">Дата начала</label>
                            <input type="date" class="form-control" id="dateStart" th:field="*{dateStart}" required>
                        </div>
                        <div id="end-date-div" class="end-date-div form-group col-md-6">
                            <label for="dateEnd">Дата завершения</label>
                            <input type="date" class="form-control" id="dateEnd" th:field="*{dateEnd}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Описание</label>
                        <textarea class="form-control rounded-0 resize-0" id="description"
                                  rows="15" th:field="*{description}" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary" value="save">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>